*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}

.main{
    background-color: black;
}

.contain{
    
}

.contain a{
    float: left;
    width: 25%;
}

.contain img{
    width: 100%;
}

.contain i{
    font-size: 70px;
    padding: 20px 20px 20px 10px;
    color: white;
}

.contain span{
    position: relative;
    top: 35px;
    right: 10px;
    font-size: 35px;
    color: white;
}

.contain h1{
    color: white;
    font-size: 40px;
    font-weight: 100;
    position: absolute;
    right: 10px;
    margin-top: 0px;
}


@font-face {
    font-family: 'Piece';
    src: url('fonts/Pieces-of-Eight.ttf');
}


.tittle{
    text-align: center;
    font-family: 'Piece';
}

.container{
    text-align: left;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    display: table;
}


.container td, .container th {
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left:2%;  
    text-align: center;
    color: white;
}

.container tr:nth-child(odd) {
    background-color: #323C50;
}

.container tr:nth-child(even) {
    background-color: #2C3446;
}

.container th {
    background-color: #1F2739;
}

.container td:first-child { color: #FB667A; }

.container tr:hover {
   background-color: #464A52;
    -webkit-box-shadow: 0 6px 6px -6px #0E1119;
	-moz-box-shadow: 0 6px 6px -6px #0E1119;
	box-shadow: 0 6px 6px -6px #0E1119;
}

.container td:hover {
    background-color: #FFF842;
    color: #403E10;
    font-weight: bold;
    box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
    transform: translate3d(1px, -1px, 0);
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: line;
  }

a:visited{
    color: black;
}

a{
    color:black;
    text-decoration: none;
}

.name{
    font-size: 20px;
}